body{
    background-image:url("https://tse1.mm.bing.net/th?id=OIP.xuuT-_xKi-YtmIoi0_IZYwAAAA&pid=Api&P=0&h=180");
    background-repeat: no-repeat;
    background-size: cover;
}
.mainContainer{
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color:rgb(54, 53, 53);
    background-color:rgb(166, 219, 228);
}
.members{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    border: 5px,white,solid;
    border-radius: 5px;
    margin: 10px;
}

.image{
    height: 300px;
    width: 300px;
    margin-left: 200px;
    border-radius: 200px;
    margin: 100px,50px,100px,50px;
}
.name{
    color: white;
    margin-left: 300px;
    font-size: 50px;
    font-style: italic;
    color:yellowgreen;

}

.names{
    color: rgb(229, 119, 235);
    margin-left: 300px;
    font-size: 50px;
    font-style: italic;
    color:rgb(131, 187, 231);

}
.me{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    border: 5px,rgb(108, 170, 246),solid;
    border-radius: 5px;
    margin: 10px;
}
.pictures{
    height: 300px;
    width: 300px;
    margin-left: 200px;
    border-radius: 100px;
    margin: 100px,50px,100px,50px;
}
